.view_all.installments {
    background: #fff;
    border-radius: 13px;
    padding: 1rem 2rem;
    border: 1px solid #FFB905;
    color: #FFB905;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s;
}


.view_all.installments:hover {
    background: linear-gradient(89.03deg, #FFB905 1.26%, #FFC805 98.89%);
    color: #fff;
    transition: 0.1s;
}
.view_all.installments:hover + .view_all{
    background: #fff;
    color: #FFB905;
    transition: 0.3s;
}