.product_information_tabs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_tab {
    font-family: SFProDisplay-Regular;
    font-size: 1.8rem;
    border-bottom: 1px solid #000;
    padding: 16px;
    cursor: pointer;
    margin-bottom: 3rem;
}

.product_tab.active {
    position: relative;
    transition: 0.3s;
}

.product_tab::after {
    content: '';
    width: 0%;
    height: 3px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: width 0.5s;
}

.product_tab.active::after {
    width: 100%;
    background-color: #ffc105;
}

.product_information_contecst {
    position: relative;
}

.product_contecst_wrap {
    /* position: absolute; */
    /* inset: 0; */
    position: relative;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(100px);
    transition: opacity 600ms ease, transform 600ms ease;
}

.product_contecst_wrap.show {
    max-height: 100%;
    opacity: 1;
    /* transform: translateY(-5px); */
    transform: translateY(0);
}

.product_contecst_description {
    border-radius: 10px;
    border: 1px solid rgba(14, 24, 44, 0.2);
    padding: 2rem;
    font-family: SFProDisplay-Regular;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.product_contecst_characteristic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.product_characteristic_info {
    border-radius: 10px;
    border: 1px solid rgba(14, 24, 44, 0.2);
    box-shadow: 0 4px 30px rgba(21, 42, 108, .12);
    padding: 3rem;
}

.product_contecst_characteristic .product_detail_text {
    font-size: 1.6rem;
}

.product_contecst_reviews {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3rem;
    pointer-events: auto;
}

.product_review_form {
    grid-column: span 5;
}

.product_review_text {
    border: 1px solid rgba(93, 95, 239, .2);
    border-radius: 10px;
    padding: 20px;
}

.product_review_text textarea {
    width: 100%;
    pointer-events: auto;
    resize: none;
    font-family: SFProDisplay-Regular;
    font-size: 18px;
    line-height: 24px;
    color: #0e182c;
    border: none;
    background: none;
    outline: none;
}

.product_review_buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3rem;
    margin-top: 3rem;
}

.product_review_buttons_reting {
    display: flex;
    align-items: center;
}

.product_review_buttons_reting input {
    display: none;
}

.product_review_buttons_reting label {
    display: inline-block;
    color: #d4d4d4;
    cursor: pointer;
    font-size: 2.4rem;
    cursor: pointer;
    transform: 0.3s;
}

.product_review_buttons_reting label:hover {
    color: gold;
}

.product_review_buttons_reting input:checked~label {
    color: gold;
}

.product_review_buttons_submit {
    width: 48px;
    height: 48px;
    background: #ffc105;
    background: #ffc105;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.product_review_users {
    grid-column: span 7;
}

.product_review_user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product_review_user_name {
    font-family: SFProDisplay-Regular;
    font-size: 1.4rem;
    text-transform: capitalize;
}

.product_review_user_grade {
    font-size: 1.8rem;
    color: gold;
}

.product_review_user_coment {
    font-family: SFProDisplay-Regular;
    font-size: 14px;
    line-height: 24px;
    color: rgba(14, 24, 44, .8);
    overflow: hidden;
}

@media(max-width:1024px) {
    .product_contecst_characteristic {
        gap: 2rem;
    }
}

@media(max-width:912px) {
    .product_information {
        margin-top: 2rem;
    }
}

@media(max-width:810px) {
    .product_characteristic_info {
        box-shadow: 0 1px 10px rgba(21, 42, 108, .12);
    }
    .product_contecst_characteristic {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .product_review_form {
    grid-column: span 12;
}
.product_review_users {
    grid-column: span 12;
}
}