.section_banner {
    background: rgba(93, 95, 239, 0.1);
    margin-top: 12.9rem;
    text-align: left;
    position: relative;
    padding: 9.4rem;
    display: flex;
    justify-content: end;
}

.section_banner::after {
    content: "";
    position: absolute;
    top: -5rem;
    left: 5rem;
    width: 60.4rem;
    height: 39rem;
    background: url('../../assets/imag/Mask.png');
    background-size: cover;
    z-index: 1;
}

.section_banner h2 {
    font-family: SFProDisplay-Bold;
    font-size: 4.2rem;
    line-height: 4.6rem;
    letter-spacing: 0%;
    margin-bottom: 1.2rem;
}

.section_banner p {
    font-family: SFProDisplay-Regular;
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0%;
}