.section_discounts .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.section_discounts .swiper-slide {
    border-radius: 8px;
    border: 1px solid rgba(93, 95, 239, 0.2);
}

.section_discounts .image {
    display: flex;
    justify-content: center;
    padding: 2rem 4rem;
}

.section_discounts .image img {
    max-width: 11.4rem;
    height: 16.9rem;
}

.section_discounts .header .title {
    color: rgb(14, 24, 44);
    font-family: SFProDisplay-Bold;
    font-size: 3.6rem;
    line-height: 4.3rem;
    letter-spacing: 0%;
    text-align: left;
}

.section_discounts .content {
    background: rgba(247, 247, 254, 1);
    padding: 1rem;
}

.section_discounts .content .sup_title {
    color: #ccc;
    font-family: SFProDisplay-Regular;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 0.7rem;
}

.section_discounts .content .title {
    color: rgb(14, 24, 44);
    font-family: SFProDisplay-Bold;
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 1.5rem;
}

.section_discounts .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.section_discounts .price.display{
    /* opacity: 0; */

}
.section_discounts .price .old_price {
    color: #ccc;
    text-decoration: line-through;
    font-family: SFProDisplay-Regular;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0%;
    text-align: left;
}

.section_discounts .price .new_price {
    color: rgb(93, 95, 239);
    font-family: SFProDisplay-Bold;
    font-size: 1.8rem;
    line-height: 2.1rem;
    letter-spacing: 0%;
    text-align: left;
}


.section_discounts .add {
    background: #FFC105;
    border-radius: 30px;
    padding: 16px;
    font-size: 1.4rem;
    font-family: SFProDisplay-Bold;
    color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: -100%;
   transition: 0.5s;
}

.section_discounts .add.display {
    /* display: flex; */
    /* justify-content: center; */
    /* right: 55px; */
}

.section_discounts .cart {
    width: 50px;
    height: 50px;
    overflow: hidden;
    padding: 1.5rem;
    border-radius: 100%;
    border: 0.1rem solid rgba(60, 85, 165, 0.2);
}

.section_discounts .cart:hover {
    background-color: rgb(93, 95, 239);
}

.section_discounts .cart:hover svg path {
    fill: #fff;
}


@media (max-width: 1024px) {

    .swiper-button-next-custom,
    .swiper-button-prev-custom {
        display: none !important;
    }
}