.section_banner {
    background: rgba(93, 95, 239, 0.1);
    margin-top: 12.9rem;
    padding: 9rem;
    position: relative;
}

.section_banner article {
    display: flex;
    align-items: center;
    justify-content: end;
}

.section_banner_image {
    position: absolute;
    top: -30px;
    left: 90px;
    width: 490px;
    z-index: -1;
}

.section_banner_image img {
    width: 100%;
    height: 100%;
}

.section_banner h2 {
    font-family: SFProDisplay-Bold;
    font-size: 4.2rem;
    line-height: 4.6rem;
    letter-spacing: 0%;
    margin-bottom: 1.2rem;
}

.section_banner p {
    font-family: SFProDisplay-Regular;
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0%;
}

@media(max-width: 992px) {
    .section_banner_image {
        left: 50px;
        width: 450px;
        height: 360px;
    }
}

@media(max-width: 850px) {
    .section_banner {
        padding: 7rem;

    }

    .section_banner h2 {
        font-size: 3rem;
        line-height: 3.6rem;
    }

    .section_banner p {
        font-size: 1.6rem;
    }

    .section_banner_image {
        left: 30px;
        width: 350px;
        height: 300px;
    }
}

@media(max-width:768px) {
    .section_banner_image {
        height: 248px;
    }
}

@media(max-width:576px) {
    .section_banner {
        padding: 5rem;
    }

    .section_banner_image {
        height: 216px;
        width: 270px;
        left: 0px;
    }
}

@media(max-width:420px) {
    .section_banner {
        padding: 5rem;
    }

    .section_banner_image {
        height: 216px;
        width: 250px;
    }
}