.nav_top_wrap {
    background-color: rgb(246, 246, 248, 1);
    font-family: SFProDisplay-Regular;
}

.nav_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 0;
    font-size: 1.4rem;
}

.nav_top_leftblock {
    color: rgb(95, 93, 93);
    line-height: 1.06rem;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_top_line {
    width: 1px;
    height: 1.9rem;
    background-color: rgb(14, 24, 44, 1);
    margin: 0 1.4rem;
}

.nav_top_righblock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_top_righblock_help {
    color: rgb(95, 93, 93);
}

.nav_top_righblock_language {
    margin-left: 2.9rem;
}

.nav_wrap {
    border-bottom: 1px solid rgb(143, 145, 149);
    padding: 2rem 0;
}

.middle {
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 3;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: SFProDisplay-Regular;
}

.nav_content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: 0%;
    text-align: left;
}

.nav_leftblock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed_nav {
    display: none;
}

.nav_content {
    margin-left: 2.4rem;
}

.nav_content_text {
    margin-left: 0.5rem;
}

.search {
    border-radius: 50px;
    background-color: rgb(246, 246, 248, 1);
    display: flex;
    outline: none;
    max-height: 5.5rem;
    border: 1px solid #ccc;
}

/* .search:hover {
    border: 1px solid #ccc;
} */

/* .search:hover .search_input {
    width: 35.6rem;
    padding: 1rem 1.5rem;
    border-radius: 50px;
    transition: .3s;
} */

.search_input {
    width: 55.6rem;
    outline: none;
    border: none;
    background-color: rgb(246, 246, 248, 1);
    padding: 0rem 1rem;
    border-radius: 50px;
    transition: .1s;
    font-size: 1.4rem;
}

.search_input::placeholder {
    font-size: 1.4rem;
}

.search_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 193, 5, 1);
    border-radius: 100%;
    padding: 1.7rem;
}

.nav_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_bottom_content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: 0%;
    text-align: left;
}

.nav_bottom_content_text {
    margin-left: 1rem;
}

@media(max-width:1200px) {
    .search_input {
        width: 30rem;

    }
}

@media(max-width:1024px) {
    .search_input {
        width: 25rem;
    }

    .nav_content {
        margin-left: 1rem;
    }
}

@media(max-width:992px) {
    .search_icon {
        /* padding: 1rem; */
    }
}

.burger {
    display: none;
}

@media(max-width:850px) {
    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .burger::after,
    .burger::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
    }

    .burger::before {
        top: 0;
    }

    .burger::after {
        bottom: 0;
    }

    .burger span {
        position: absolute;
        left: 0;
        top: 9px;
        width: 100%;
        height: 2px;
        background-color: #000;
    }

    .nav_leftblock {
        display: none;
    }

    .fixed_nav {
        /* display: block; */
        /* display: none; */
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 2;
        margin: auto;
        width: 60%;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        justify-content: space-around;
        padding: 0.5rem;
        display: flex;
        align-items: center;
    }

    .fixed_nav .search_input {
        display: none;
    }

    .search_icon {
        padding: 0.7rem;
    }

    .fixed_nav .nav_content span {
        display: none;
    }

    .middle {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }

    .nav_bottom_med {
        display: none;
        background-color: antiquewhite;
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .nav_bottom {
        margin-top: 90px !important;
        flex-direction: column;
        align-items: start;
    }
}

@media(max-width:420px) {
    .nav {
        height: 20px;
    }

    .logo {
        width: 20px !important;
    }

}