.sub_menu_wrap {
    background: #fff;
    font-size: 1.6rem;
    position: absolute;
    top: -0%;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    opacity: 0;
}

.sub_menu_wrap.open_sub_menu {
    top: 66px;
     z-index: 3;
     opacity: 1;
}

.sub_menu {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    padding: 3rem 0 6rem;
}

.sub_menu_content {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
}

.sub_menu_title {
    color: rgba(14, 24, 44, 1);
    font-family: SFProDisplay-Medium;
    line-height: 1.5rem;
}

.sub_menu_text {
    color: #999797;
    font-family: SFProDisplay-Medium;
    letter-spacing: 0.5px;
    line-height: 15px;
    margin: 0.7rem 0;
}

.sub_menu_text:hover {
    color: #5D5FEF;
}

.comeback svg path {
    fill: rgba(14, 24, 44, 1);
}

@media(max-width:1024px) {
    .sub_menu_wrap.open_sub_menu {
        top: 200px;
    }
}

@media(max-width:920px) {
    .sub_menu_wrap.open_sub_menu {
        top: 100px;
        bottom: 0;
    }
}

@media(max-width:912px) {
    .sub_menu {
        /* grid-template-columns: repeat(6, 1fr); */
        gap: 20px;
        padding: 2rem 0 4rem;
    }

    .sub_menu_content {
        grid-column: span 4;
    }

    .sub_menu_text {
        font-size: 1.4rem;
    }
}

@media(max-width:500px) {
    .sub_menu_wrap.open_sub_menu {
        top: 60px;
    }

    .sub_menu_content {
        grid-column: span 4;
        padding: 0 2rem;
    }
}
@media(max-width:400px) {
    .sub_menu_wrap {
        overflow-y: scroll  ;
    }
    .sub_menu_content {
        grid-column: span 6;
        padding: 0 2rem;
    }
}