footer {
    background: rgba(14, 24, 44, 1);
    color: #ffff;
    margin-top: 15rem;
    padding-bottom: 5rem;
}

.footer_menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 60px 0 !important;
    gap: 28rem;
}

.footer_menu .title {
    font-family: SFProDisplay-Medium;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9rem;
    letter-spacing: 0%;
    text-align: left;
}

.footer_menu .text {
    font-family: SFProDisplay-Regular;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 1.8rem;
}

.footer_social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px !important;
}

.footer_social .social_media {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.copyright_notice {
    font-family: SFProDisplay-Regular;
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: 0%;
    text-align: center;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
    padding: 0 10rem;
}

.info_title {
    font-family: SFProDisplay-Medium;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 8.3rem;
}

.info_text {
    font-family: SFProDisplay-Regular;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.1rem;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 1.5rem;
}

@media(max-width:1200px){
    .footer_menu{
    gap: 0px;
     padding: 60px 15px !important;
}
}
@media(max-width: 1024px){
.footer_menu{
    gap: 0;
     /* padding: 6rem 10px !important; */
}
.footer_social{
    /* padding-top: 3rem !important; */
}
}
@media(max-width:576px){
    .footer_menu{
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    .info{
        padding-bottom: 20px !important;
    }
    @media(max-width:420px){
        .footer_social{
            flex-direction: column;
            gap: 20px;
            align-items: start;
        }
    }
}