 .swiper {
     max-width: 100%;
     max-height: 100%;
 }

 .section_1 .swiper-slide {
     background: url('../assets/imag/Rectangle 6.jpg');
     background-size: cover;
     position: relative;
     overflow: hidden;
     border-radius: 10px;
 }

 .section_1 .slide::after {
     content: '';
     position: absolute;
     top: 12px;
     right: 0px;
     width: 533px;
     height: 420px;
     z-index: -1;
     background: url('../assets/imag/Mask Group.png') no-repeat center;
     background-size: cover;
 }

 .section_1 .swiper-slide .content {
     margin-left: 11.4rem;
     margin-top: 11.9rem;
 }

 .section_1 .swiper-slide .title {
     font-family: SFProDisplay-Bold;
     font-size: 4.2rem;
     line-height: 5rem;
     letter-spacing: 0%;
     text-align: left;
 }

 .section_1 .swiper-slide .text {
     font-family: SFProDisplay-Medium;
     font-size: 1.6rem;
     line-height: 2.4rem;
     letter-spacing: 0%;
     text-align: left;
     color: rgba(14, 24, 44, 1);
     margin-bottom: 3rem;
 }

 .swiper-slide img {
     /* display: block; */
     /* width: 100%; */
     /* height: 100%; */
     /* object-fit: cover; */
 }

 .swiper-slide {
     transition: 10s;
 }

 .swiper-slide:hover {
     box-shadow: 0px 0px 20px rgba(14, 24, 44, 0.1);
     transition: 0.3s;
 }

 .swiper-button-prev-custom,
 .swiper-button-next-custom {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     z-index: 10;
     font-size: 24px;
     cursor: pointer;
     border: 1px solid #ccc;
     border-radius: 100%;
     background-color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 1rem;
 }

 .swiper-button-next-custom {
     right: 10px;
 }

 .swiper-button-prev-custom {
     left: 10px;
 }

 .section_discounts .content {
     background: rgba(247, 247, 254, 1);
 }

 .section_discounts .content .sup_title {
     color: #ccc;
     font-family: SFProDisplay-Regular;
     font-size: 1.2rem;
     font-weight: 400;
     line-height: 1.4rem;
     letter-spacing: 0%;
     text-align: left;
 }

 .section_discounts .content .title {
     color: rgb(14, 24, 44);
     font-family: SFProDisplay-Bold;
     font-size: 1.6rem;
     line-height: 2.2rem;
     letter-spacing: 0%;
     text-align: left;
 }

 .section_discounts .price .old_price {
     color: #ccc;
     text-decoration: line-through;
     font-family: SFProDisplay-Regular;
     font-size: 1.6rem;
     line-height: 1.9rem;
     letter-spacing: 0%;
     text-align: left;
 }

 .section_discounts .price .new_price {
     color: rgb(93, 95, 239);
     font-family: SFProDisplay-Bold;
     font-size: 1.8rem;
     line-height: 2.1rem;
     letter-spacing: 0%;
     text-align: left;
 }

 @media(max-width:1200px) {
     .section_1 .swiper-slide .title {
         font-size: 3rem;
     }
 }

 @media (max-width: 1024px) {

     .swiper-button-next-custom,
     .swiper-button-prev-custom {
         display: none !important;
     }

     .section_1_button {
         display: block !important;
         display: flex !important;
     }

     .section_1 .swiper-slide .content {
         margin-left: 11.4rem;
         margin-top: 11.9rem;
         margin:11.9rem  11.4rem ;
     }
 }

 @media(max-width:850px) {
     .section_1 .swiper-slide .content {
         margin: 5rem 3rem;
     }
 }

 @media(max-width:576px) {
     .section_1 .swiper-slide .content {
         color: #fff;
     }

     .section_1 .swiper-slide .content .text {
         color: #fff;
     }
 }